.table-footer__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
}

.table-footer__add-btn {
    margin: 0 0 .3rem .3rem!important;
}

@media screen and (max-width: 800px){
    .table-footer__add-btn {
        font-size: .6rem!important;
    }
}