.form-wrapper__container {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: .2rem;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    width: 100%;
    position: relative;
    padding: 1rem .5rem;
}

.form__controls {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: .3rem 0 0 .3rem;
    gap: 1rem;
}