header {
    background: var(--color-header);
    position: relative;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: var(--header-height);
    grid-template-columns: repeat(3, 1fr);
    backdrop-filter: blur(4px);
}

.header__logo-box {
    user-select: none;
    display: flex;
    gap: .3rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.header__logo-box img {
    width: 2.5rem;
    aspect-ratio: 1/1;
}

.header__logo-box h1 {
    font-size: 15px;
    border: 1px transparent solid;
    padding: .3rem .2rem;
    transition: var(--default-transition);
    background: var(--color-bg);
    color: var(--color-white);
}

.header__logo-box h1:hover {
    cursor: default;
    border-color: var(--color-white);
    background: transparent;
    color: black;
}

.header__logout {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: .4rem;
}

.header__language-box {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.header__language-btn {
    width: 2rem;
    border-radius: 50%;
    background: transparent;
}

@media screen and (max-width: 475px) {
    .header__logo-box {
        margin-left: .4rem;
    }
}