@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Josefin+Sans:wght@300;600&display=swap');

:root {
  --color-bg: linear-gradient(205deg, var(--color-burgundy) 0%, var(--color-yellow-red) 49%, var(--color-ochre) 100%);
  --color-white: #fdfdfd;
  --color-black: #010101;
  --color-header: var(--color-yellow-red);
  --width-lg: calc(100% - .5rem);
  --default-transition: all .3s 0s ease-in-out;
  --shadow-transition: box-shadow 0.3s 0s linear;

  --color-burgundy: #780116;
  --color-yellow-red: #f7b538;
  --color-ochre: #db7c26;
  --color-flame: #d8572a;
  --color-oggb: #c32f27;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: var(--width-lg);
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .3rem;
  padding: .5rem 0 .3rem;
  min-height: calc(100vh - 3.5rem);
}

main .column {
  display: grid;
  /*grid-template-rows: 60% calc(40% - .3rem);*/
  grid-template-rows: repeat(2, 1fr);
  gap: .3rem;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 600
}

.btn {
  text-align: center;
  cursor: pointer;
  color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  padding: 0 1rem .2rem;
  background: var(--color-white);
  border: 1px solid transparent;
  border-radius: .2rem;
  transition: var(--default-transition);
}

.btn:hover {
  border-color: var(--color-white);
  background: transparent;
  color: var(--color-white);
}

@media screen and (max-width: 600px){
  main {
    grid-template-columns: 1fr;
  }

}